<div class="text-center">
    <h2>{{name}}</h2>
    <h6>{{body}}</h6>
    <p>Posted by: {{user.username}} on {{date_created}}</p>
    <button class="btn btn-primary" type='submit' id="add-comment">COMMENT</button>
</div>